/* You can add global styles to this file, and also import other style files */
/* mat-label {
  font-size: 130%;
} */

.mat-tab-label {
  /* width: 50%!important; */
  color: black!important;
}

.mat-select-disabled .mat-select-value {
  color: black!important;
}

.absolute-position {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.scroll-block::-webkit-scrollbar-track {
  border-radius: 4px;
}

.scroll-block::-webkit-scrollbar {
  width: 6px;
}

.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 4px;background: #f0f2f5;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
}
